<p>Blog list : </p>

<table id="blog-list-datatable" class="table striped table-bordered">
{{#each blogs}}
	<tr>
		<td><a href="#blogs/edit/{{_id}}">{{title}}</a></td>
		<td>{{content}}</td>
		<td><a href="#" data-blog-id="{{_id}}" class="deleteBlog">Delete</a></td>
	</tr>
{{/each}}
</table>

<p>
<a href="#blogs/new">Add Blog</a></td>
</p>



